{% assign star_color = "#FECF2B" %}
{% assign font_size_start = 18 %}
{% assign max_width= 1265 %}
{% assign padding= 2 %}
{% assign text1= "Comprador verificado" %}
{% assign text2= "Opiniones de nuestros clientes" %}
{% assign text3= "OPINIONES" %}
{% assign text4= "opiniones" %}
{% assign text5= "Reviews por Whatsapp by" %}
{% assign text6= "rese&ntilde;as" %}
{% assign text7= "Rese&ntilde;as" %}
{% assign classdescription= "page-content--product" %}
{% assign classstart="product__price" %}
{% assign classcategory= "shopify-product-reviews-badge" %}
{% assign showcomment=  "false" %}
{% assign max_count=  10 %}
{% assign show_summary=  "No" %}

{% if template contains 'product' %}
<script>
var contentRevieListObjectNew = `{% render 'revie-star-rating', star_text_2: text7, star_color:star_color, size: font_size_start  %}`;
var elementsRevie = document.getElementsByClassName("{{ classstart }}");      
if(elementsRevie && elementsRevie.length > 0){
    var element = elementsRevie[0];
    let container = document.createElement("div");
    container.innerHTML=contentRevieListObjectNew;
    element.after(container);
}

elementsRevie = document.getElementsByClassName("{{ classdescription }}");
            
if(elementsRevie && elementsRevie.length > 0){
    var revieListElement = elementsRevie[0];
    let container = document.createElement("div");
    container.innerHTML='<div class="page-width" id="content-rl-w"><div id="revieDataIA"></div><div id="revieList"></div></div>';
    revieListElement.after(container);
}
function scrollToTargetAdjusted(){
    var element = document.getElementById('revieList');
    var headerOffset = 100; //Altura promedio de los headers
    var elementPosition = element.getBoundingClientRect().top;
    var offsetPosition = elementPosition + window.pageYOffset - headerOffset;
  
    window.scrollTo({
         top: offsetPosition,
         behavior: "smooth"
    });
}
window.addEventListener('load', function () {
  setTimeout(() => {
    if(window.location && window.location.hash && window.location.hash == '#content-rl-w'){ 
        scrollToTargetAdjusted();
    }else{
        
        var isRedirect = new URL(location.href).searchParams.get('gotorevieList');
        if(isRedirect){
            scrollToTargetAdjusted();
        }
    }
  }, 300);
});
</script>
{% render 'revie-widget-product', max_count: max_count, show_summary: show_summary, show_comment:showcomment, title:text2, subtitle: text3,star_color:star_color, max_width: max_width, content_padding: padding   %}
{% endif %}
{% if template contains 'collection' %}
  <script>
    var contentRevieListObject = { {%- for product in collection.products -%}{%- if product.metafields.revie.reviewData -%}"{{ product.metafields.revie.reviewProductList[0].product.productId }}":{{ product.metafields.revie.reviewData | json }},{%- endif -%}{%- endfor -%}"0":{}};
  window.addEventListener('load', function () {
    setTimeout(() => {
      showRevieCollectionsNew();
    }, 300);
  });
  function showRevieCollectionsNew(){
      var nodes = document.getElementsByClassName('{{ classcategory }}');
      for (let i = 0; i < nodes.length; i++) {
        if (contentRevieListObject.hasOwnProperty(nodes[i].dataset.id)){
            nodes[i].innerHTML='<div id="revieStar"><div title="'+contentRevieListObject[nodes[i].dataset.id].reviewAverageValue+' Estrellas"><i data-starlist="'+contentRevieListObject[nodes[i].dataset.id].reviewAverageValue+'"></i><span>'+contentRevieListObject[nodes[i].dataset.id].reviewCount+' {{ text7 }}</span></div></div>';
        }
      }
  }
  </script>
 {% endif %} <style>
    #revieStar [data-starlist] {text-align:left;font-style:normal;display:inline-block;position: relative;unicode-bidi: bidi-override;font-size: {{ font_size_start }}px;}
  	#revieStar [data-starlist]::before { display:block;content: '☆☆☆☆☆';color: {{ star_color }};}
  	#revieStar [data-starlist]::after {white-space:nowrap;position:absolute;top:0;left:0;content: '★★★★★';width: 0;color: {{ star_color }};overflow:hidden;height:100%;}
  	#revieStar span{padding-left: 10px;line-height: 48px;font-size: {{ font_size_start }}px;}#revieStar [data-starlist^="0.1"]::after,[data-starlist^=".1"]::after{width:2%}#revieStar [data-starlist^="0.2"]::after,[data-starlist^=".2"]::after{width:4%}#revieStar [data-starlist^="0.3"]::after,[data-starlist^=".3"]::after{width:6%}#revieStar [data-starlist^="0.4"]::after,[data-starlist^=".4"]::after{width:8%}#revieStar [data-starlist^="0.5"]::after,[data-starlist^=".5"]::after{width:10%}#revieStar [data-starlist^="0.6"]::after,[data-starlist^=".6"]::after{width:12%}#revieStar [data-starlist^="0.7"]::after,[data-starlist^=".7"]::after{width:14%}#revieStar [data-starlist^="0.8"]::after,[data-starlist^=".8"]::after{width:16%}#revieStar [data-starlist^="0.9"]::after,[data-starlist^=".9"]::after{width:18%}#revieStar [data-starlist^="1"]::after{width:20%}#revieStar [data-starlist^="1.1"]::after{width:22%}#revieStar [data-starlist^="1.2"]::after{width:24%}#revieStar [data-starlist^="1.3"]::after{width:26%}#revieStar [data-starlist^="1.4"]::after{width:28%}#revieStar [data-starlist^="1.5"]::after{width:30%}#revieStar [data-starlist^="1.6"]::after{width:32%}#revieStar [data-starlist^="1.7"]::after{width:34%}#revieStar [data-starlist^="1.8"]::after{width:36%}#revieStar [data-starlist^="1.9"]::after{width:38%}#revieStar [data-starlist^="2"]::after{width:40%}#revieStar [data-starlist^="2.1"]::after{width:42%}#revieStar [data-starlist^="2.2"]::after{width:44%}#revieStar [data-starlist^="2.3"]::after{width:46%}#revieStar [data-starlist^="2.4"]::after{width:48%}#revieStar [data-starlist^="2.5"]::after{width:50%}#revieStar [data-starlist^="2.6"]::after{width:52%}#revieStar [data-starlist^="2.7"]::after{width:54%}#revieStar [data-starlist^="2.8"]::after{width:56%}#revieStar [data-starlist^="2.9"]::after{width:58%}#revieStar [data-starlist^="3"]::after{width:60%}#revieStar [data-starlist^="3.1"]::after{width:62%}#revieStar [data-starlist^="3.2"]::after{width:64%}#revieStar [data-starlist^="3.3"]::after{width:66%}#revieStar [data-starlist^="3.4"]::after{width:68%}#revieStar [data-starlist^="3.5"]::after{width:70%}#revieStar [data-starlist^="3.6"]::after{width:72%}#revieStar [data-starlist^="3.7"]::after{width:74%}#revieStar [data-starlist^="3.8"]::after{width:76%}#revieStar [data-starlist^="3.9"]::after{width:78%}#revieStar [data-starlist^="4"]::after{width:80%}#revieStar [data-starlist^="4.1"]::after{width:82%}#revieStar [data-starlist^="4.2"]::after{width:84%}#revieStar [data-starlist^="4.3"]::after{width:86%}#revieStar [data-starlist^="4.4"]::after{width:88%}#revieStar [data-starlist^="4.5"]::after{width:90%}#revieStar [data-starlist^="4.6"]::after{width:92%}#revieStar [data-starlist^="4.7"]::after{width:94%}#revieStar [data-starlist^="4.8"]::after{width:96%}#revieStar [data-starlist^="4.9"]::after{width:98%}#revieStar [data-starlist^="5"]::after{width:100%}
  	a.revie-star-content, a.revie-star-content:visited, a.revie-star-content span{color: #292929!important;text-decoration: none!important;font-size:16px;}
  </style>
